<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoBlogs</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/helpstyle.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo"><img src="/static/images/logo.png" alt="GoBlogs">
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/help">help</a></li>

            <button class="signup" value="signup"><a href="/signup">Signup</a></button>
        </ul>
    </nav>
    <section id="contact-container">
        <h1 class="heading center">--Connect with us @--</h1>
        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quaerat accusamus
            molestiae, harum aspernatur amet eos consequatur reiciendis inventore ullam corporis itaque ea iusto
            deserunt. Possimus nostrum nam, ab minima, et ea, repudiandae sed recusandae mollitia ut harum consequatur!
            Aut excepturi fugiat cumque sint amet accusamus ab. Tempore incidunt inventore obcaecati ipsam saepe
            praesentium aspernatur. Voluptatibus quaerat excepturi ipsa in, vitae temporibus magni debitis officiis?
            Ipsam cum laborum asperiores numquam eaque! Labore sed tenetur nesciunt similique natus vero veritatis iste
            suscipit expedita! Unde delectus deleniti quod quam provident tempore laborum minus, et numquam amet
            corporis maxime quae eum adipisci vitae, iusto consequatur accusantium debitis perferendis eligendi
            consectetur pariatur? Doloremque quaerat magni fugit tempore cum nulla, voluptatem distinctio hic obcaecati
            enim ea, adipisci minus eos illum voluptates cupiditate quo atque, culpa voluptatibus. Corporis totam quo
            sequi nam omnis cupiditate ipsum aperiam obcaecati rem molestias, dolor incidunt eos vero distinctio
            accusamus. Pariatur labore facilis cum tenetur! Eligendi maiores neque officiis voluptates aliquid quas
            deserunt. Iusto et dolorem, unde accusamus iure sunt error quibusdam atque incidunt eligendi vitae
            aspernatur id quam numquam pariatur labore debitis quae dignissimos repudiandae enim exercitationem odit.
            Tenetur, eligendi. Cum ipsam maiores amet laborum illum libero placeat ad praesentium esse voluptas dolorum
            itaque assumenda quidem quasi soluta possimus, impedit minus dolorem maxime tempora? Tempora, saepe odit! Ad
            perferendis expedita omnis sed labore sunt alias ullam, deleniti velit commodi, cupiditate architecto quod
            maiores adipisci fugiat eligendi explicabo harum at magnam praesentium fugit aliquam veniam tempora aut.
            Sint porro unde inventore! Vero nostrum officia nobis iusto, voluptates officiis minima assumenda at eius
            consectetur ipsum magni hic possimus sit aspernatur totam illum aliquam, doloremque rerum itaque cupiditate
            suscipit fuga adipisci. A ratione provident vel vitae natus totam aliquid eveniet repellendus sed iusto rem
            tempora culpa esse repellat maiores iure necessitatibus omnis nam molestiae sit, consectetur atque. Vitae
            nostrum, quis obcaecati accusantium consequatur vel soluta tempore labore non iusto perferendis molestias
            atque eveniet repellat corporis dolor eaque sequi excepturi placeat mollitia molestiae magnam odio!
            Aspernatur hic sit quod quidem voluptates voluptatibus et, error architecto vel, accusantium deleniti
            assumenda. Perspiciatis aliquam quaerat esse doloribus sit. Est consectetur fugiat at ab. Incidunt possimus
            exercitationem, ad harum vitae similique sapiente maiores quo ipsa. Quia ex facilis, consequatur porro optio
            aut fugiat maxime corrupti qui accusantium nostrum perspiciatis placeat corporis beatae repudiandae!
            Asperiores aliquid nostrum et corporis a libero ipsum necessitatibus cumque, voluptatum excepturi minima
            accusamus rem provident est vero quisquam autem eaque sed harum in dolores. Rerum harum exercitationem
            debitis nobis veniam. Corporis deleniti quisquam commodi iure, dolor voluptate voluptatem tempora a culpa
            quia et ratione sint provident earum? Eos repudiandae assumenda perspiciatis nesciunt optio quo incidunt
            ullam! Cumque eos eius soluta libero? Modi quidem necessitatibus reprehenderit mollitia accusantium odio
            fuga veritatis quam natus? Accusantium nam culpa iure, nulla quo ipsum quaerat facilis incidunt veniam
            distinctio, rerum neque voluptatum necessitatibus eaque quis! Blanditiis quidem officiis quaerat quasi
            explicabo eos? Natus quod sint repellendus aliquid quasi nostrum earum sunt culpa, consequuntur incidunt
            unde eius nesciunt deleniti commodi, dignissimos rerum impedit iste excepturi, provident labore dicta!
            Expedita aliquid eum omnis cumque ipsa, voluptatibus exercitationem earum placeat officiis rem accusantium
            eos fuga, maiores error magnam similique eveniet voluptatem dolore iure. Consequatur et iusto porro deleniti
            perferendis culpa quidem. Facere laboriosam delectus eius voluptas placeat vitae id sed, error aut maiores
            ea minima ducimus odit eligendi totam, laudantium distinctio adipisci neque. Ducimus repudiandae provident
            debitis, ab architecto tenetur quia quod non iusto, saepe commodi neque aperiam laboriosam molestiae,
            recusandae beatae quam ad voluptatibus quaerat quo odio? Voluptates molestias adipisci quam quisquam!
            Pariatur architecto, id corporis porro ipsam recusandae voluptatem nihil.</div>
        <div id="Contact-us">
            <div class="boxes">
                <a href="https://contactus.com" target="_blank"><img src="/static/images/contactus.png.png"
                        alt=".image"></a>
                <a href="https://gmail.com" target="_blank"><img src="/static/images/mail.png.png" alt=".image"></a>
                <a href="https://whatsapp.com" target="_blank"><img src="/static/images/whatsapp.png.png"
                        alt=".image"></a>
                <a href="https://facebook.com" target="_blank"><img src="/static/images/fb.png.png" alt=".image"></a>
                <a href="https://instagram.com" target="_blank"><img src="/static/images/insta.png.png"
                        alt=".image"></a>
                <a href="https://youtube.com" target="_blank"><img src="/static/images/yt.png" alt=".image"></a>
                <a href="https://googlemaps.com" target="_blank"><img src="/static/images/location.png"
                        alt=".image"></a>
            </div>
        </div>

    </section>
    <footer id="footer">
        <div>
            Copyright &copy; 2023 www.GoBlogs.com | All Rights Reserved!
        </div>

    </footer>

</body>

</html>