body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-left: 3%;
    
    
}
.box{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

div p {
    text-align: center;
    margin-top: 10px;
}

div p a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
