body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}
.btn{
    margin-left: 45%;
    
}

button a {
    text-decoration: none;
    color: white;
}

button {
    

    background-color: dodgerblue;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: royalblue;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 800px;
}

li {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

h2 {
    margin-top: 0;
}

p {
    margin: 10px 0;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#disqus_thread{
    margin: 20px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
}